<div class="grid place-content-center h-svh">
    <form [formGroup]="resetPasswordForm" (ngSubmit)="submit()" class="form">
      <h1 class="text-xl font-semibold">Restablecer Contraseña</h1>
  
      <!-- Campo para ingresar el código de seguridad enviado al correo -->
      <div class="space-y-2">
        <label for="token">Código de Seguridad</label>
        <input
          id="token"
          formControlName="token"
          type="text"
          required
          placeholder="Ingresa el código de seguridad"
          class="p-inputtext"
        />
        <div *ngIf="resetPasswordForm.get('token')?.invalid && resetPasswordForm.get('token')?.touched">
          <small class="block text-red-400">El código es requerido.</small>
        </div>
      </div>
  
      <!-- Campo para ingresar la nueva contraseña -->
      <div class="space-y-2">
        <label for="newPassword">Nueva Contraseña</label>
        <input
          id="newPassword"
          formControlName="newPassword"
          type="newPassword"
          required
          placeholder="Ingresa tu nueva contraseña"
          class="p-inputtext"
        />
        <div *ngIf="resetPasswordForm.get('newPassword')?.invalid && resetPasswordForm.get('newPassword')?.touched">
          <small class="block text-red-400">La contraseña es requerida.</small>
        </div>
      </div>
  
      <button type="submit" class="mt-6 p-button">
        Restablecer Contraseña
      </button>
    </form>
  </div>
  