<header class="h-16 flex justify-between items-center p-6">
  <div class="w-28">
    <img src="/assets/barber.png" alt="Logo">
  </div>
  <nav>
    <ul class="flex gap-4 items-center font-serif">
      <li class="hover:text-gold-500 transition-colors">
        <a href="#" class="inline-block py-1.5 px-2.5">Servicios</a>
      </li>
      <li class="hover:text-gold-500 transition-colors">
        <a href="#" class="inline-block py-1.5 px-2.5">Profesionales</a>
      </li>
      <li class="hover:text-gold-500 transition-colors">
        <a href="#" class="inline-block py-1.5 px-2.5">Calendario</a>
      </li>
      <li class="hover:text-gold-500 transition-colors">
        <a href="#" class="inline-block py-1.5 px-2.5">Turnos</a>
      </li>
      <li class="hover:text-gold-500 transition-colors">
        <a href="#" class="inline-block py-1.5 px-2.5">Perfil</a>
      </li>
    </ul>
  </nav>
</header>
