<div
  class="h-[calc(100svh-132px)] w-full bg-[url('/assets/barber-1.jpg')] bg-no-repeat bg-cover bg-center"
>
  <div
    class="grid place-content-center h-full backdrop-blur-md backdrop-brightness-50"
  >
    <article class="grid gap-1 min-w-96 bg-gold-400 rounded-md">
      <h2 class="text-center text-lg text-zinc-100 bg-zinc-900 p-4">
        Lista de Servicios
      </h2>
      <ul>
        <li>
          <div class="grid p-4 bg-zinc-900 space-y-1">
            <h3 class="font-serif text-lg text-gray-200">Lavado + Corte</h3>
            <p>Lavado + corte a máquina y/o tijera con acabado navaja</p>
            <p class="text-base text-gray-100">S/ 120</p>
            <a
              class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
              href=""
            >
              Elegir
            </a>
          </div>
          <div class="grid p-4 bg-zinc-900 space-y-1">
            <h3 class="font-serif text-xl text-gray-200">Lavado + Peinado</h3>
            <p>Lavado + peinado como desees o como te aconsejamos</p>
            <p class="text-base text-gray-100">S/ 140</p>
            <a
              class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
              href=""
            >
              Elegir
            </a>
          </div>
        </li>
      </ul>
    </article>
  </div>
</div>
