<div class="grid place-content-center h-svh">
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submit()" class="form">
      <h1 class="text-xl font-semibold">Olvidé mi Contraseña</h1>
      
      <div class="space-y-2">
        <label for="email">Email</label>
        <input
          id="email"
          formControlName="email"
          type="email"
          required
          placeholder="Ingresa tu email"
          class="p-inputtext"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
          <small class="block text-red-400">Por favor, ingresa un email válido.</small>
        </div>
      </div>
  
      <!-- Quita el (click) y confía en el ngSubmit -->
      <button type="submit" class="mt-6 p-button">
        Enviar
      </button>
    </form>
  </div>
  