<div class="space-y-16">
  <div class="h-64">
    <hero />
  </div>
  <div class="px-6 lg:px-0 lg:max-w-screen-lg mx-auto space-y-16">
    <section class="space-y-8">
      <h2
        class="font-serif text-2xl text-gray-200 text-center underline underline-offset-4 font-light">
        Servicios</h2>
      <div class="grid gap-2 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
        <div
          class="grid grid-rows-subgrid rounded p-4 bg-zinc-900 space-y-[1em] row-span-4">
          <h3 class="font-serif text-xl text-gray-200">Lavado + Corte</h3>
          <p>Lavado + corte a máquina y/o tijera con acabado navaja</p>
          <p class="text-base text-gray-100">S/ 120</p>
          <a
            class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
            href=""
          >
            Elegir
          </a>
        </div>
        <div
          class="grid grid-rows-subgrid rounded p-4 bg-zinc-900 space-y-[1em] row-span-4">
          <h3 class="font-serif text-xl text-gray-200">Lavado + Peinado</h3>
          <p>Lavado + peinado como desees o como te aconsejamos</p>
          <p class="text-base text-gray-100">S/ 140</p>
          <a
            class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
            href="">Elegir</a></div>
        <div
          class="grid grid-rows-subgrid rounded p-4 bg-zinc-900 space-y-[1em] row-span-4">
          <h3 class="font-serif text-xl text-gray-200">Corte</h3>
          <p>Corte con máquina</p>
          <p class="text-base text-gray-100">S/ 85</p>
          <a
            class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
            href="">Elegir</a></div>
        <div
          class="grid grid-rows-subgrid rounded p-4 bg-zinc-900 space-y-[1em] row-span-4">
          <h3 class="font-serif text-xl text-gray-200">Corte + Barba</h3>
          <p>Corte + perfilado de barba</p>
          <p class="text-base text-gray-100">S/ 100</p>
          <a
            class="inline-block w-fit py-1.5 px-2.5 rounded bg-gold-400 hover:bg-gold-400/90 transition-colors text-gray-200"
            href="">Elegir</a>
        </div>
      </div>
    </section>
    <section class="space-y-8 py-4">
      <h2
        class="font-serif text-2xl text-gray-200 text-center underline underline-offset-4 font-light"
      >
        Profesionales
      </h2>
      <div class="flex flex-wrap gap-4 justify-between items-center">
        <figure class="flex flex-col items-center gap-2">
          <div class="size-24 rounded-full overflow-hidden relative">
            <img class="object-cover"
                 ngSrc="/assets/barber-1.jpg"
                 alt="Franco Bossi"
                 fill
            >
          </div>
          <figcaption>Franco Bossi</figcaption>
        </figure>
        <figure class="flex flex-col items-center gap-2">
          <div class="size-24 rounded-full overflow-hidden relative">
            <img ngSrc="/assets/barber-2.jpg" alt="Sebastian Rubio"
                 class="object-cover" fill>
          </div>
          <figcaption>Sebastian Rubio</figcaption>
        </figure>
        <figure class="flex flex-col items-center gap-2">
          <div class="size-24 rounded-full overflow-hidden relative">
            <img ngSrc="/assets/barber-3.jpg" alt="Santiago Peloche"
                 class="object-cover" fill>
          </div>
          <figcaption>Santiago Peloche</figcaption>
        </figure>
        <figure class="flex flex-col items-center gap-2">
          <div class="size-24 rounded-full overflow-hidden relative">
            <img ngSrc="/assets/barber-4.jpg" alt="Franco Medrano"
                 class="object-cover" fill>
          </div>
          <figcaption>Sebastian Rubio</figcaption>
        </figure>
        <figure class="flex flex-col items-center gap-2">
          <div class="size-24 rounded-full overflow-hidden relative">
            <img ngSrc="/assets/barber-5.jpg" alt="Martin García"
                 class="object-cover" fill>
          </div>
          <figcaption>Sebastian Rubio</figcaption>
        </figure>
      </div>
    </section>
  </div>
</div>
