<div class="space-y-16">
  <div class="h-80">
    <hero />
  </div>
  <div class="px-6 lg:px-0 lg:max-w-screen-lg mx-auto space-y-16">
    <section class="space-y-8">
      <h2
        class="max-w-96 mx-auto grid grid-cols-[1fr_auto_1fr] gap-4 grid-rows-[1rem_0] font-serif text-2xl text-gray-200 text-center underline-offset-4 font-light after:block after:border-b-2 after:border-gray-600 before:block before:border-b-2 before:border-gray-600"
      >
        Servicios
      </h2>
      <div class="grid gap-2 grid-cols-[repeat(auto-fill,minmax(250px,1fr))]">
        @for (service of services(); track service.id) {
          <div
            class="grid grid-rows-subgrid rounded p-4 bg-zinc-900 space-y-[1em] row-span-4"
          >
            <h3 class="font-serif text-xl text-gray-200">{{ service.name }}</h3>
            <p>{{ service.description }}</p>
            <p class="text-xl text-gray-100 font-semibold">
              {{ service.price | currency }}
            </p>
          </div>
        }
      </div>
    </section>
    <section class="space-y-8 py-4">
      <h2
        class="max-w-96 mx-auto grid grid-cols-[1fr_auto_1fr] gap-4 grid-rows-[1rem_0] font-serif text-2xl text-gray-200 text-center underline-offset-4 font-light after:block after:border-b-2 after:border-gray-600 before:block before:border-b-2 before:border-gray-600"
      >
        Profesionales
      </h2>
      <div
        class="flex flex-wrap gap-x-4 gap-y-8 justify-center md:justify-between items-center"
      >
        @for (profesional of profesionals(); track profesional.id) {
          <figure class="flex flex-col items-center gap-2">
            <div class="size-24 rounded-full overflow-hidden relative">
              <img
                class="object-cover"
                ngSrc="/assets/barber-{{ profesional.id }}.jpg"
                alt=""
                fill
              />
            </div>
            <figcaption>
              {{ profesional.firstName }} {{ " " }} {{ profesional.lastName }}
            </figcaption>
          </figure>
        }
      </div>
    </section>
  </div>
</div>
